$('#point_of_contract').html("<div><%= @info.point_of_contact%></div>")
$('#phone_number').html("<div><%= @info.contact_number%></div>")
$('#address').html("<div><%= @info.address%></div>")
$('#email').html("<div><%= @info.email%></div>")