<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi Mam Cheryl Flores</h1>
    <p>
      This is to inform you that a new Logistic Requirements has been created and you have been notified of its creation.
    </p>
    <p>Sincerely,</p>
    <p>GMLS Support Team</p>
  </body>
</html>