<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h4>Good day.</h4>
    <p>
      This is to inform you that a new the status of the Quotation has been approved and now ready to process
    </p>
    <p>Sincerely,</p>
    <p>GMLS Support Team</p>
  </body>
</html>